{
  "bracketSpacing": true,
  "bracesSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "noSemi": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "semi": false
}