.cardWrapper {
  border: 0;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  gap: 10px;
  cursor: pointer;
}

.cardWrapper:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: translateY(-5px);
  z-index:50;
}

.cardMetaWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cardTitle {
  text-align: center;
}
.cardDescription {
  text-align: center;
}
.cardBottom {
  display: flex;
  justify-content: space-between;
}
.cardToolbarBtns {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  top: 0px;
  right: 2px;
  visibility: hidden;
}

.cardToolbarBtn{
  border: 0;
  background-color: #cccccc52;
  border-radius: 5px;
  padding: 7px 5px 2px 7px;
  cursor: pointer;
}

.cardToolbarBtn:hover {
  background-color: #c0141429;
}


.toolbarIcon {
  width: 20px;
  height: 20px;
}

.cardWrapper:hover .cardToolbarBtns {
  visibility: visible;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardWrapp {
  display: flex;
}


/* card edit */

.cardEditForm{
  display: flex;
  flex-direction: column;
}

.cardEditForm label {
  color: black;
}



.cartIconContainer {
  width: 40px;
  height: 40px;
}

.cartIconContainer img {
  object-fit: cover;
  width: 100%;
}

.cartListWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.counterContaier{
  display: flex;
  align-items: center;
  gap: 20px;
}

.cartItemTitle{
  font-family: 'Roboto';
  font-size: 24px;
}