.cardInfoWrapper{
  display: flex;
  margin: 30px 30px;
  gap: 20px;
}

.metaWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  
}

.toolbar {
  display: flex;
  width: 100%;
  padding: 20px 10px 20px 20px;
  flex-direction: row-reverse;
}

.editBtn {
  padding: 6px 12px;
}

.imgWrapper {
  width: 300px;
  max-height: 200px;
  background-color: white;
}

.img {
  object-fit: cover;
  width: 100%;

}

.publishBtn {
  margin-top: 40px;
  margin-left: 30px;
}