:root {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #ffffff;
}

.modal {
  left: 0;
  top: 0;
  position:absolute;
  z-index:99;
}
.modalContainer {
  color: #ffffff;
  background-color: white;
  box-shadow: 5px 5px 12px 2px rgba(63, 63, 63, 0.137);
  border-radius: 5px;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 350px;
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95));
}

.input {
  display: block;
  height: 40px;
  width: 80%;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
  height: 28px;
  color: #ffffff;
  font-size: 13px;
  transition: all .3s ease;
}

.input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.594);
}


label {
  display: block;
  width: 80%;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
}
.navElement{
  position: relative;
  cursor: pointer;
  color: #666;
  font-family: 'Roboto';
  font-size: 18px;
  
  transition: all 0.3s ease-in;
}

.navElement::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease;
  transform: translateY(50%);
}

.navElement:hover::after {
  width: 100%;
  background-color: #ff0000;
}

.navElement:hover {
  color: #ff0000;
}

.active {
  color: #171717;
}
.active::after {
  width: 100%;
  background-color: #ff0000;
}


.modalForm {
  display: flex;
  width: 80%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



button {
  border: none;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 14px;
  background-color: rgb(217 217 217 / 95%);
  color: #514674;
  transition: all .3s ease;
  padding: 8px 20px;
}

button:hover {
  background-color: rgba(167, 162, 191, 0.95);
  color: #ffffff;
}

.menu{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;

}


.modalOverlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(38, 38, 38, 0.823);
  width: 100vw;
  height: 100vh;
}